h1 {
	text-align:center;
	font-size:60px;
	color: Darkorange;
	position: absolute;
	top: 40%;
	left:50%;
	transform: translate(-50%,-50%);
	
}
h2 {
	font-size:30px;
	text-align:center;
	border: 2px solid Darkorange;
	background-color: darkorange;
}
body {
	font-family: 'Rubik', sans-serif;
	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
  	background-image:url('BACKlow.jpg');

}
.All {
	font-size:140%;
	color:black;
	text-align:center;
	margin: 50px;
	background-border:2px;
	background-color: Darkorange;
	padding: 13px 25px;
}

nav {
	display: flex;
	flex-wrap: wrap;
}
nav a {
	margin: 0;
	text-decoration: none;
	padding: 15px 25px;
	text-align: center;
	color: silver;
	font-family: 'Rubik', sans-serif;
	font-size: 23px;
	
}
nav a:hover {
	color: darkorange;
}
.img {
	text-align: center;
}
.box {
	font-size: 140%;
	color:black;
	text-align: center;
	border: 2px solid Darkorange;
	margin: 50px;
	background-color: Darkorange;
	padding: 13px 25px;
}
p {
	font-size: 100%;
	text-align: center;
}
#p1 {
	font-size: 200%;
	color: Darkorange;
	text-align: right;
}
#pic {
	margin-left: 9%;
}
#p2 {
	font-size: 150%;
	color: Darkorange;
	text-align: center;
}
.Vid {
	text-align: center;
}